/*
    Quy định phần dùng chung cho tất cả dialog
*/
/* .dialog {
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-45%, -50%);
    border-radius: 4px;
} */
